.header__logo {
  display: flex;
  width: 142px;
  height: 33px;
  object-fit: contain;
  object-position: bottom;
}

@media screen and (max-width: 896px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
