.profile__add-button {
  display: flex;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #000000;
  background-image: url(../../../images/add-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

@media screen and (max-width: 896px) {
  .profile__add-button {
    background-image: url(../../../images/add-button-2.svg);
    background-size: contain;
    width: 282px;
    height: 52px;
    margin-top: 31px;
    display: block;
  }
}
