.profile__occupation {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: left;
  color: #ffffff;
  max-width: 294px;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 896px) {
  .profile__occupation {
    font-size: 14px;
    align-self: center;
    text-align: center;
    margin-top: 8px;
    max-width: 189px;
  }
}
