.popup__input-error_active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #ff0000;
    margin: 0;
    margin-top: -25px;
    max-width: 80%;
}